doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/public/css/styles.css")
        title #{pageTitle? pageTitle : 'HOME!'} | 'kokoaClone!'
    body(id=nickName ? 'chat-screen' : '')
        include partials/status-bar
        block content
        #no-mobile
            span your screen is too big ㅠ_ㅠ
        #no-mobile2 
            span your screen is too small ㅠ_ㅠ
        script(src="/public/js/app.js")
        script(src="https://kit.fontawesome.com/9252753edf.js", crossorigin="anonymous")