doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/public/css/style.css")
        title Home
    body  이 틀도 복붙안하는 방법이 있었는데.. 머였지?
        include partials/status-bar
        include partials/welcome
        script(src="/public/js/app.js")
        script(src="https://kit.fontawesome.com/9252753edf.js", crossorigin="anonymous")