nav.nav 
    ul.nav__list 
        li.nav__btn 
            a.nav__link(href="/friends")
                i(class=`fa-${pageTitle === 'friends' ? 'solid' : 'regular'} fa-user fa-2x`)
        li.nav__btn 
            a.nav__link(href="/chats")
                i(class=`fa${pageTitle === 'chats' ? 's' : '-regular'} fa-comment fa-2x`)
        li.nav__btn 
            a.nav__link(href="/find")
                i(class=`fa-solid fa-magnifying-glass${pageTitle === 'find' ? '-arrow-right' : ''} fa-2x`)
        li.nav__btn 
            a.nav__link(href="/more")
                i.fa-solid.fa-ellipsis.fa-2x 
                
                