.status-bar
    .status-bar__column 
        span No Service
        i.fa-solid.fa-wifi 
    .status-bar__column 
        span 18:43
    .status-bar__column 
        span 11%
        i.fa-solid.fa-battery-empty.fa-lg 
        i.fa-solid.fa-bolt-lightning 